<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m-lg-2">BookStore</span>
    </div>
    <div class="progress m-3">
        <div class="progress-bar" role="progressbar" aria-valuemax="100" aria-valuemin="0" style="width:70%">

        </div>
    </div>
    <div class="row m-1 p-1">
       <div id="types" class="col-3">
           <vc:types></vc:types>
       </div>
       <div class="col-9">
           <div class="container">
               @RenderBody()
           </div>
       </div>
    </div>
    <div class="bg-light">
        <footer>Footer</footer>
    </div>
    
</body>

<script src="~/lib/js/bootstrap.min.js"></script>
</html>
